.head {
    width: 83%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sliders h1 {
    font-size: 40px; 
    text-align: center;
}

.sliders p {
    font-size: 22px; 
    text-align: justify;
}

.head img {
    width: 100%;
}

.footer {
    width: 83%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.second img, .third img {
    width: 50%;
}

.card h2 {
    text-align: center;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
}

.final img {
    width: 30%;
}

.final {
    justify-content: space-between;
}