.container {
    width: 87vw;
    height: 81vh;
    overflow: scroll;
}

.sliders {
    width: 450%;
    display: flex;
    justify-content: space-between;
}

.card {
    border: 5px solid #fff;
    max-width: 900px;
    width: 85vw;
    height: 80vh;
    background-color: #fff;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
}