.container {
    width: 87vw;
    height: 81vh;
    overflow: scroll;
}

.sliders {
    width: 450%;
    display: flex;
    justify-content: space-between;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    background-color: transparent;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

.card {
    border: 3px solid rgba(7, 7, 7, 0.12);
    max-width: 900px;
    width: 85vw;
    height: 80vh;
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #ffffff;
}